.header {
  background-color: #8a2be2;
  grid-area: h;
  padding: 5px;
  display: flex;
  align-items: center;
}
.img_block {
  width: 60px;
  height: 100%;
  display: inline-block;
}
.img_block img {
  width: 100%;
  height: 100%;
}
.header h2 {
  font-weight: 800;
  font-size: 26px;
  color: blue;
  margin-left: 15px;
}
